@import "./colors.scss";
@import "./mixin.scss";
@import "./fonts.scss";
@import "./header.scss";
@import "./articles.scss";

/*------Contact section------*/
.contact-header {
  h2 {
    margin-bottom: 30px;
  }
}

.contact-info {
  display: flex;
  text-align: start;
  justify-content: left;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 30px;

  div {
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
  }
}

.contact-icons {
  display: flex;
  justify-content: right;
  gap: 20px;

  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

/*map iframe style*/
.map-wrapper {
  width: 100%;
  overflow: hidden;
}

.map-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  padding: 0 15px;
  box-sizing: border-box;

  iframe {
    width: 1226px;
    max-width: 100%;
    height: 287px;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: block;

    // Responsiv
    @media (max-width: 1260px) {
      width: 100%;
      height: auto;
      aspect-ratio: 1226 / 287;
    }
  }
}
