

    /*------Contact section------*/
    .contact-header {
      h2 {
        margin-bottom: 30px;
      }
    }

    .contact-info {
      display: flex;
      text-align: start;
      justify-content: left;
      align-items: flex-start;
      gap: 40px;
      margin-bottom: 30px;

      div {
        background-color: #ffffff00;
        padding: 20px;
        border-radius: 8px;
        width: 200px;
      }
    }

    .contact-icons {
      display: flex;
      justify-content: right;
      gap: 20px;

      img {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }